{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="js">
<head>
  <meta charset="utf-8">
  <meta name="author" content="Softnio">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="ICO Crypto is a modern and elegant landing page, created for ICO Agencies and digital crypto currency investment website.">
  <!-- Fav Icon  -->
  <link rel="shortcut icon" href="images/favicon.png">
  <!-- Site Title  -->
  <title>User Center - ICO Crypto</title>
  <!-- Vendor Bundle CSS -->
  <link rel="stylesheet" href="{% static 'css/vendor.bundle.css' %}?ver=101">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}?ver=101">
  
</head>

<body class="user-ath">
   <style type="text/css">
    
    .alert{
        box-shadow: 5px 5px 10px #111;
        border: none;
    }
    @keyframes show-toast {
    0%   {bottom: -100%;}
    20%  {bottom: 50px;}
    80%  {bottom: 50px;}
    100% {bottom: -10%;}
}

.notification.is-toast {
    position: fixed;
    bottom: 100%;
    right: 20px;
    animation-name: show-toast;
    animation-duration: 10s;
}
@media(max-width: 450px) {
    h3{
      font-size: 15px !important;
    }
  }
</style>

{% if messages %}
    {% for message in messages %}
        <div class="notification is-toast alert alert-{{message.tags}} text-center" role="alert" style="background-color: #9f0101; color: #fff; border-radius: 6px; font-weight: 600;">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
   <div class="user-ath-page">
       <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 text-center">
                    <div class="user-ath-logo">
                        <a href="/">
                            <img src="{% static 'images/logo-sm.png' %}"  srcset="{% static 'images/logo-sm2x.png' %} 2x" alt="icon">
                        </a>
                    </div>
                    <div class="user-ath-box">
                        <h4>Request Your Password</h4>
                        <form method="post">
                          {% csrf_token %}
<!--                  
                            <div class="note note-lg note-no-icon note-danger">
                                <p>There is no account with this email.</p>
                            </div>
                            <div class="note note-lg note-no-icon note-success">
                                <p>Password recovery instruction sent to your email, Please check.</p>
                            </div>
-->
                            <div class="input-item">
                                <input name="email" type="text" placeholder="Your Email" class="input-bordered">
                            </div>
                            <div class="gaps"></div>
                            <div class="d-flex justify-content-between align-items-center">
                                <button class="btn btn-primary">Reset</button>
                                <span> <a href="/sign-in/" class="simple-link"><em class="ti ti-arrow-right"></em> Login Here</a></span>
                            </div>
                        </form>
                    </div>
                    <div class="gaps-2x"></div>
                    <div class="form-note">
                        Not a member? <a href="/sign-up/">Sign up now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
  <!-- JavaScript (include all script here) -->
  <script src="{% static 'js/jquery.bundle.js' %}?ver=101"></script>
  <script src="{% static 'assets/js/script.js' %}?ver=101"></script>
</body>
</html>
