{% extends "app_user/app_user.html" %}
{% load static %}
{% block content %}


   
                
                <div class="user-content">
                    <div class="user-panel">
                        
                        <div class="info-card info-card-bordered">
                            <div class="row align-items-center">
                               
                                <div class="col-sm-12">
                                    <div class="gaps-1x"></div>
                            <h5 class="user-panel-subtitle">02. Set amount of ICOX tokens you would like to purchase</h5>
                            <p>To become a part of the ICO Crypto project and purchase of ICOX token will only be possible after payment made and receving an approval.  As you like to participate our project, please select payment method and enter the amount of ICOX tokens you wish to purchase. You can buy ICOX tokens using ETH, BTC, LTC or USD. </p>
                            <div class="gaps-1x"></div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="payment-calculator">
                                        <div class="payment-get">
                                            <label for="paymentGet">Tokens to Purchase</label>
                                            <div class="payment-input">
                                               <button class="btn btn-primary">unstake</button>    
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="gaps-2x d-md-none"></div>
                                </div><!-- .col -->
                                
                            </div><!-- .row -->
                                </div>
                            </div>
                        </div><!-- .info-card -->
                        
                        
                        
                        
                    </div><!-- .user-panel -->
                </div><!-- .user-content -->
            </div><!-- .d-flex -->
        </div><!-- .container -->
    </div>
    <!-- UserWraper End -->



{% endblock %}